<head>
    <title>Assignment-Angular</title> 
    <!--meta tags -->
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
 
    <meta name="author" content="pixelhint.com">
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
       Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    
    <script>
       addEventListener("load", function () {
         setTimeout(hideURLbar, 0);
       }, false);
       
       function hideURLbar() {
         window.scrollTo(0, 1);
       }
    </script>
    <base href="/">
    
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"> 
    <link href="css/checkout.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all"> 
    <link href="css/creditly.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/easy-responsive-tabs.css" type="text/css" media="all" />
    <link href="css/JiSlider.css" rel="stylesheet">
    <link rel="stylesheet" href="css/shop.css" type="text/css" />
    <link rel="stylesheet" href="css/jquery-ui1.css" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type='text/css' media="all"> -->
    


    <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">


 

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

 </head>



<div class="header-outs" id="home">
<!-- Slideshow 4 -->
    <div class="slider text-center">
       <div class="callbacks_container">
          <ul class="rslides" id="slider4">
             <li>
                <div class="slider-img one-img">
                   <div class="container">
                      <div class="slider-info ">
                         <h5>Pick The Best Toy For <br>Your Kid</h5>
                         <div class="bottom-info">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolorL orem ipsum dolor sit amet eget dolor</p>
                         </div>
                         <div class="outs_more-buttn">
                            <a href="about.html">Read More</a>
                         </div>
                      </div>
                   </div>
                </div>
             </li>
             <li>
                <div class="slider-img two-img">
                   <div class="container">
                      <div class="slider-info ">
                         <h5>Sort Toys And Teddy bears<br>For Kids</h5>
                         <div class="bottom-info">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolorL orem ipsum dolor sit amet eget dolor</p>
                         </div>
                         <div class="outs_more-buttn">
                            <a href="about.html">Read More</a>
                         </div>
                      </div>
                   </div>
                </div>
             </li>
             <li>
                <div class="slider-img three-img">
                   <div class="container">
                      <div class="slider-info">
                         <h5>Best Toys And Dolls<br> For Kids</h5>
                         <div class="bottom-info">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.Aenean commodo ligula eget dolorL orem ipsum dolor sit amet eget dolor</p>
                         </div>
                         <div class="outs_more-buttn">
                            <a href="about.html">Read More</a>
                         </div>
                      </div>
                   </div>
                </div>
             </li>
          </ul>
       </div>
       <!-- This is here just to demonstrate the callbacks -->
       <!-- <ul class="events">
          <li>Example 4 callback events</li>
          </ul>-->
       <div class="clearfix"></div>
    </div>
 </div>




 