<app-header></app-header>
<app-img></app-img>

<header class ="d-flex mb-3 pt-5 justify-content-between">
<h1><strong>Manager Product</strong></h1>

</header>
<body>
<button class="btn btn-primary" routerLink="/product/add">Add Product</button> <br><br> 
<button class="btn btn-primary" routerLink="/product/list">List Product</button>
</body> 
 
<style>
    body {background-color: #EEEEEE; height: 300px; width: 200px; 
    border: 1px solid powderblue;  padding: 50px;
    margin: auto;
    }

    h1 {color: red;}
    
    
</style>

<app-footer></app-footer>

