<div class="home-layout">

    <head>
        <title>Assignment-Angular</title>
        <!--meta tags -->
        <meta charset="UTF-8">
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">

        <meta name="author" content="pixelhint.com">
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <meta name="keywords" content="Toys Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

        <script>
            addEventListener("load", function() {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>


        <!-- <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">   -->
        <!-- <link href="css/checkout.css" rel="stylesheet" type="text/css" media="all"> -->
        <!-- <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">  -->
        <!-- <link href="css/creditly.css" rel="stylesheet" type="text/css" media="all"> -->
        <!-- <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="all" /> -->
        <!-- <link rel="stylesheet" href="css/easy-responsive-tabs.css" type="text/css" media="all" /> -->
        <!-- <link href="css/JiSlider.css" rel="stylesheet"> -->
        <!-- <link rel="stylesheet" href="css/shop.css" type="text/css" /> -->
        <!-- <link rel="stylesheet" href="css/jquery-ui1.css" type="text/css" /> -->
        <!-- <link href="css/style.css" rel="stylesheet" type='text/css' media="all"> -->



        <link href="//fonts.googleapis.com/css?family=Sunflower:500,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">



        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    </head>


    <app-header></app-header>
    <app-slide-show></app-slide-show>
    <!-- about -->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-4">
            <h3 class="title text-center mb-lg-5 mb-md-4  mb-sm-4 mb-3">Best Products</h3>
            <div class="row banner-below-w3l">
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="https://lh3.googleusercontent.com/proxy/BSkdgBGK2UZRExw0ZCBcQ6hgDsme2onBnls_3vhnKEENot4zwFbZjzAJ9O9XTiTmnYo0Y1mZiaQkKGHBm1afYeQ-KOnfPm8VOaBW0tGJywsRc3JwoTEwlwRhzXYxTazgTqZiZ5za-c3WXkPnwDlJEKru0U01jOc" class="img-thumbnail" alt="" style="width:237px ; height:260px">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Baby Toys</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="https://lh3.googleusercontent.com/proxy/FKc7hIJFF9cFJwV2auch5MvYD3fFqa0soiTt3VI886aaKCsYo8PpYVyHsyTkJzt8yFzRwZId--xpndvLnVmXeMzZRRZtWWaLsNLI9oPT" class="img-thumbnail" alt="" style="width:237px ; height:260px">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Lite-Brite</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 text-center banner-agile-flowers">
                    <img src="https://thegioihoahong.com/wp-content/uploads/2018/06/gau-bong-teddy-ao-len-cafe-sua.jpg" class="img-thumbnail" alt="" style="width:237px ; height:260px">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Key Toys</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                    <img src="https://bizweb.dktcdn.net/100/075/840/products/00000-0601977b-6dcd-4f56-8a77-3d847b6e50ef.jpg?v=1465140743290" class="img-thumbnail" alt="" style="width:237px ; height:260px">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Play Toys</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                    <img src="https://gaubongonline.vn/wp-content/uploads/2018/03/cach-chon-qua-gau-bong-cho-nang.jpg" class="img-thumbnail" alt="" style="width:237px ; height:260px">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Gift Toys</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mt-3 text-center banner-agile-flowers">
                    <img src="https://pokecorner.vn/wp-content/uploads/2018/12/1-G%E1%BA%A5u-b%C3%B4ng-Pok%C3%A9mon-Snorlax-PokeCorner.vn-M%C3%B3c-kh%C3%B3a-Pok%C3%A9mon-Pok%C3%A9mon-GO-Plus-Go-tcha-M%C3%B4-h%C3%ACnh-Pok%C3%A9mon-B%C3%A0i-Pok%C3%A9mon-Poke-Ball-Plus.jpg"
                        class="img-thumbnail" alt="" style="width:237px ; height:260px">
                    <div class="banner-right-icon">
                        <h4 class="pt-3">Soft Toys</h4>
                    </div>
                </div>
                <div class="toys-grids-upper">
                    <div class="about-toys-off">
                        <h2>Get Up to <span>70% Off </span>On Selected Toys</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!--new Arrivals -->
    <section class="blog py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">New Arrivals</h3>
            <div class="slid-img">
                <ul id="flexiselDemo1">
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="https://lh3.googleusercontent.com/proxy/BSkdgBGK2UZRExw0ZCBcQ6hgDsme2onBnls_3vhnKEENot4zwFbZjzAJ9O9XTiTmnYo0Y1mZiaQkKGHBm1afYeQ-KOnfPm8VOaBW0tGJywsRc3JwoTEwlwRhzXYxTazgTqZiZ5za-c3WXkPnwDlJEKru0U01jOc" style="width:237px ; height:260px" alt=" "
                                class="img-fluid" />
                            <div class="banner-right-icon">
                                <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="https://pokecorner.vn/wp-content/uploads/2018/12/1-G%E1%BA%A5u-b%C3%B4ng-Pok%C3%A9mon-Snorlax-PokeCorner.vn-M%C3%B3c-kh%C3%B3a-Pok%C3%A9mon-Pok%C3%A9mon-GO-Plus-Go-tcha-M%C3%B4-h%C3%ACnh-Pok%C3%A9mon-B%C3%A0i-Pok%C3%A9mon-Poke-Ball-Plus.jpg"
                                style="width:237px ; height:260px" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                                <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="https://gaubongonline.vn/wp-content/uploads/2018/03/cach-chon-qua-gau-bong-cho-nang.jpg" style="width:237px ; height:260px" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                                <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid ">
                            <img src="https://thegioihoahong.com/wp-content/uploads/2018/06/gau-bong-teddy-ao-len-cafe-sua.jpg" style="width:237px ; height:260px" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                                <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid">
                            <img src="https://bizweb.dktcdn.net/100/075/840/products/00000-0601977b-6dcd-4f56-8a77-3d847b6e50ef.jpg?v=1465140743290" style="width:237px ; height:260px" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                                <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="agileinfo_port_grid ">
                            <img src="https://lh3.googleusercontent.com/proxy/FKc7hIJFF9cFJwV2auch5MvYD3fFqa0soiTt3VI886aaKCsYo8PpYVyHsyTkJzt8yFzRwZId--xpndvLnVmXeMzZRRZtWWaLsNLI9oPT" style="width:237px ; height:260px" alt=" " class="img-fluid" />
                            <div class="banner-right-icon">
                                <h4 class="pt-3">Soft Toys</h4>
                            </div>
                            <div class="outs_more-buttn">
                                <a href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--//about -->
    <!--Customers Review -->
    <section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Customers Review</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="https://www.vanmenh.net/uploads/5-con-giap-mang-menh-son-sinh-ra-da-mang-phuc-kh.jpg" style="width:100px ; height:100px" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>Milky Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="https://sothugaubong.com/wp-content/uploads/2018/05/gau-bong-we-bare-bear.jpg" alt="" class="image-fluid" style="width:400px ; height:250px">
                                            <p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="https://imgt.taimienphi.vn/cf/Images/tt/2018/4/24/hinh-em-be-cute-de-thuong-anh-baby-girl-va-boy-dep-nhat-2.jpg" style="width:100px ; height:100px" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>Sam Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Teddies_decending_height.jpg/1200px-Teddies_decending_height.jpg" alt="" class="image-fluid" style="width:400px ; height:250px">
                                            <p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="https://hellobacsi.com/wp-content/uploads/2019/03/nuoc-muoi-sinh-ly-cho-tre-so-sinh-avatar.jpg" style="width:100px ; height:100px" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>Milky Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="https://quayeuthuong.vn/vnt_upload/news/12_2017/5_orig_1.png" alt="" class="image-fluid" style="width:400px ; height:250px">
                                            <p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="https://phunugioi.com/wp-content/uploads/2019/11/avatar-doi-cho-2-nguoi.jpg" style="width:100px ; height:100px" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>Sam Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="https://lh3.googleusercontent.com/proxy/4VvWgUdvsm4V5A_Tq8HookyafMIRlYJ3sEnjvjzDqnrxLbEo8CtlZx6CFlBjuCxJLsBQhOgJKFeRkdatHpNQNj4h15otRYawl6euRpeuAQLOMSEe1LKH13C56wwvlfNS" alt="" class="image-fluid" style="width:400px ; height:250px">
                                            <p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="https://i1.wp.com/meovatcuocsong.vn/wp-content/uploads/2018/06/anh-dai-dien-facebook-de-thuong1.jpg?resize=600%2C600&ssl=1" style="width:100px ; height:100px" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>Milky Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="https://cf.shopee.vn/file/d8f5bbdfd912d5a3daf2aaae7816a326" alt="" class="image-fluid" style="width:400px ; height:250px">
                                            <p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 clients-w3layouts-row">
                                <div class="least-w3layouts-text-gap">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 news-img">
                                            <img src="https://anhbiafb.com/uploads/images/tuyen-tap-25-avatar-doi-cuc-dang-yeu-danh-cho-cac-cap-doi-dang-yeu-nhau-1485163165-14.jpg" style="width:100px ; height:100px" alt="" class="image-fluid">
                                        </div>
                                        <div class="col-md-8 col-sm-8 clients-says-w3layouts">
                                            <h4>Sam Deo
                                            </h4>
                                            <span class="mt-2">Duis posuere</span>
                                        </div>
                                        <div class="mt-3 news-agile-text">
                                            <img src="https://lh3.googleusercontent.com/proxy/-gNG6DmnPjM_gJPKG3E3-MgWcnrOZ8Osv36r69-8Tuq6fF4qEnPMQyRagXSh0cog3kxh1EIQxV-BAi_9KuSE2FT-7_POYDTN9MveZxIflwnYMC-W7tMKNgfmFl4" alt="" class="image-fluid" style="width:400px ; height:250px">
                                            <p class="mt-3"><span class="fas fa-quote-left"></span> velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere <span class="fas fa-quote-right"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!--//Customers Review -->
    <!-- Product-view -->
    <section class="product py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Latest Toys</h3>
            <div class=" img-toy-w3l-top">
            </div>
            <div class="mt-lg-4 mt-3 product-info-img">
                <p>velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere
                </p>
                <div class="clients_more-buttn">
                    <a href="shop.html">Shop Now</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 img-toy-w3l-left">
                    <div class="toys-img-one">
                    </div>
                    <div class="mt-lg-4 mt-3 product-info-img">
                        <p>velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere
                        </p>
                        <div class="clients_more-buttn">
                            <a href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 img-toy-agile-right">
                    <div class="toys-img-one-two">
                    </div>
                    <div class="mt-lg-4 mt-3 product-info-img">
                        <p>velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere
                        </p>
                        <div class="clients_more-buttn">
                            <a href="shop.html">Shop Now</a>
                        </div>
                    </div>
                    <div class="toys-img-one-three">
                    </div>
                    <div class="mt-lg-4 mt-3 product-info-img">
                        <p>velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere
                        </p>
                        <div class="clients_more-buttn">
                            <a href="shop.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//Product-view-->
    <!--//Product-view-->
    <section class="premium py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Premium Toys</h3>
            <div class="row">
                <div class="col-lg-6 agileits-toys-left"></div>
                <div class="col-lg-6 agileits-toys-right">
                    <div class="sub-agile-info-toys">
                        <p>velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula.
                            Duis posuere
                        </p>
                        <div class="clients_more-buttn">
                            <a href="shop.html" class="mb-0">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-lg-4 mt-md-4 mt-3">
                <div class="col-lg-6 agileits-toys-right">
                    <div class="sub-agile-info-toys">
                        <p>velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula.
                            Duis posuere
                        </p>
                        <div class="clients_more-buttn ">
                            <a href="shop.html" class="mb-0">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 agileits-toys-left"></div>
            </div>
        </div>
    </section>
    <!--Product-about-->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">About Toys</h3>
            <div class="about-products-w3layouts">
                <p>velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere
                </p>
                <p class="my-lg-4 my-md-3 my-3">velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere
                    ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere
                </p>
                <p>velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula. Duis posuere
                </p>
            </div>
        </div>
    </section>
    <!--//Product-about-->

    <app-footer></app-footer>

    <!--js working-->
    <script src='js/jquery-2.2.3.min.js'></script>
    <!--//js working-->
    <!-- cart-js -->
    <script src="js/minicart.js"></script>
    <script>
        toys.render();

        toys.cart.on('toys_checkout', function(evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {}
            }
        });
    </script>
    <!-- //cart-js -->
    <!--responsiveslides banner-->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function() {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 900,
                namespace: "callbacks",
                before: function() {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function() {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--// responsiveslides banner-->
    <!--slider flexisel -->
    <script src="js/jquery.flexisel.js"></script>
    <script>
        $(window).load(function() {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 3000,
                autoPlay: true,
                autoPlaySpeed: 2000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <!-- //slider flexisel -->
    <!-- start-smoth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function() {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="js/bootstrap.min.js"></script>
    <!-- //bootstrap working-->


</div>